.form-container{
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: rgba(176, 117, 162, 0.878);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

label {
    display: block;
    margin: 10px 0 5px;
}
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}